<ion-view title="H3SO5" right-buttons="rightButtons" >
  <ion-content has-header="true" has-tabs="true" padding="true" ng-controller="CreaterController">
    <label class="item item-input">
      <input type="text" ng-model="user.nameOfChain" placeholder="Name the Chain">
    </label>
    </br>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <div id="centPic"><img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300"></div>
    </br>
    </br>
    <button class="button" ng-click="takePicture()">Take Picture</button>
    </br>
    </br>
    <label class="item item-input">
      <input type="number" ng-model="user.chainLength" placeholder="length">
    </label>
    </br>
    <label class="item item-input">
      <input type="text" ng-model="user.usertosendto" placeholder="next user">
    </label>
    </br>
    <button class="button" ng-click="sendData()">Send</button>
  </ion-content>
</ion-view>
