<ion-view title="Selfie Chain" right-buttons="rightButtons" >
    <ion-content has-header="true" has-tabs="true" padding="true" ng-controller="FriendController">
		Enter a username here to add them as a friend
		<br /><br />
        <label class="item item-input">
          <input type="text" ng-model="user.userSearched" placeholder="Username">
        </label>
		<br />
        <button class="button" ng-click="sendInfo()">Send</button>
    </br>
    </br>
        <ion-list>
          <div class="item item-divider">
            Friend Requests
          </div>
          <div>
            <a ng-repeat="person in friendsrequest" href="#" class="item">
              <h2>From: {{person}}</h2>
            </a>
          </div>
        </ion-list>
    </ion-content>
</ion-view>
