<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript">
var myScroll = new IScroll('#wrapper');
</script>
<ion-view title="H3SO5" >
    <ion-content has-tabs="true" padding="true" ng-controller="HomeController" id="myName">
		Welcome, {{user.attributes.username}}! Please use the menu on the left to select an option.
		<div id="wrapper">
			<ul>
				<li><!-- imagehere --></li>
				<li><!-- image2here --></li>
				<li><!-- image3here --></li>
			</ul>
		</div>
    </ion-content>
</ion-view>
