<ion-view title="Selfie Chain" >
    <ion-content has-tabs="true" padding="true" ng-controller="ViewFinishedController">
      <ion-scroll direction="x" class="wide-as-needed">
		      <img ng-repeat="index in PicArray" ng-src="{{index}}"></img>
      </ion-scroll>
    <h1 style = "text-align:center">Users who made this Selfie Chain</h1>
    <ion-list>
      <p style = "text-align:center" ng-repeat="pictureRecieved in UsersContrib track by $index" class = "item">{{pictureRecieved}}</p>
    </ion-list>
  </ion-content>
</ion-view>
