<!--<link href="../css/angular-carousel.css" rel="stylesheet" type="text/css" />
<script src="../js/angular-touch.js"></script>
<script src="../js/angular-carousel.js"></script>-->

<ion-view title="H3SO5" >
    <ion-content has-tabs="true" padding="true" ng-controller="ViewController">
		<!-- <img ng-repeat="index in PicArray" ng-src="{{index}}"> -->
		<ul rn-carousel class="image">
			<li ng-repeat="image in PicArray">
				<div class="layer"><img ng-src="{{image}}"></div>
			</li>
		</ul>
		<label class="item item-input">
			<input type="text" ng-model="user.nextUser" placeholder="Enter Next User">
		</label>
		<button class="button" ng-click="takePicture()">Take Picture</button>
		<button class="button button-block button-positive" ng-click="newPicChain()">
			SUBMIT
		</button>
    </ion-content>
</ion-view>
