/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

/*.bar{background-color:#565656}*/
/**.item{background-color:#000033; color:white;} */
body{font-family:"Trebuchet MS", Helvetica, sans-serif;}

#longBreak{margin-top:20000px; font-size:1200%;}

#centPic{text-align: center;}


/* The bg class is for adding a background image on the welcome.html page */
.bg {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

a:hover {
    background-color: yellow;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}
.bar.bar-loading {
  display: block;
  height: 24px;

  /* starts right below a normal header */
  top: 44px;

  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}



/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}
.ion-input-select--large,
.ion-input-select,
select {
  text-align: center;
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;

}

.ion-input-select--large {
  text-align: center;
  width:320px;
  font-size:1rem;
  background-image: url(http://i.imgur.com/7rGM4IX.png);
  text-indent:40px;
  padding:1rem 0;
}

.ion-input-select {
  text-align: center;
  width:210px;
  font-size:1rem;
  background-image: url(http://i.imgur.com/nA9xx1X.png);
  text-indent:20px;
  padding:.5rem 0;
}

option {
  text-align: center;
  background:#fff;
}

select::-ms-expand {
    display: none;
}

:focus {
  outline:none;
}
